/Request.class
/CreateAccountRequest.class
/Constants.class
/DepositAmountRequest.class
/DepositRequest.class
/TransferRequest.class
/Snippet.class
/BalanceRequest.class
/Response.class
/BalanceResponse.class
/CreateAccountResponse.class
/DepositResponse.class
/TransferResponse.class
